<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Manager API - Error Page</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      background-color: rgba(21, 23, 64, 0.56);
      color: #ffffff;
    }
    a{
      color: rgb(92, 138, 180);
      text-decoration: none;
    }
    a:hover{
      color: rgb(44, 81, 110);
      text-decoration: underline;
    }
  </style>
</head>
<body>
    <h1>Task Manager API - Error Page</h1>
    <p>Sorry, an error has occurred, Requested page not found!</p>
    <p><a href="/swagger-ui/index.html">Go to the documentation page</a></p>
</body>
</html>